<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <br><hr><br>
    <form id        =  "loginForm"
     action    =  "/users/login"
     method    =  "post"
    >
    <input type="text" name="userid" placeholder="UserID" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Log In" name="submit">
    </form>
  </body>
</html>
